input {
  udp {
    port => 3018
    codec => "json"
  }
  tcp {
    port => 3019
    codec => "json"
  }
  udp {
    port => 3020
    codec => "json_lines"
  }
  tcp {
    port => 3021
    codec => "json_lines"
  }

  gelf {
    port => 3022
    type => "gelf"
    tags => "docker"
  }
}

output {
  elasticsearch {
    hosts => ["elastic.service.consul"]
  }
}